<h1>Watchers list</h1>

<p>This component demonstrates fetching the watchers data from the server.</p>

<p *ngIf="!watchersList"><em>Loading...</em></p>

<table class='table' *ngIf="watchersList">
  <thead>
    <tr>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let watcher of watchersList">
      <td (click)="showLog(watcher)" style="cursor: pointer">{{ watcher }}</td>
    </tr>
  </tbody>
</table>
