<h1>Add Watcher</h1>

<p>This is a simple example of adding a File System Watcher</p>

<form (ngSubmit)="addWatcher()" #form01>
  <div class="form-group">
    <input type="text" required placeholder="Folder path" class="form-control" id="filePath"  [(ngModel)]="filePath" name="filePath" #firstname="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
    <div [hidden]="filePath" class="alert alert-danger">
      Folder path is required
    </div>
  </div>

  <button type="submit" [disabled]="!filePath" class="btn btn-success">Submit watcher</button>
</form>
